.MenuItem {
    border: 0.5px solid black;
    box-sizing: border-box;
    margin: 10px;
    background-color: burlywood;
    display: flex;
    box-shadow: 2px 3px 1px gray;
}

.Data {
    width: 200px;
    padding: 0 15px;
    flex: 1 1 80%;
    align-self: flex-start;
    text-align: start;
}

.image {
    flex: 1 1 20%;
    margin: 0;
    padding: 0;
    display: contents;
}
