.Menu {
    margin: 0;
    padding: 0;
    width: 98%;
}

.Content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}

.ButtonAlignment {
    display: flex;
    justify-content: center;
    align-items: center;
}
