.Drawer {
	position: fixed;
	z-index: 5;
	right: 0;
	bottom: -1000px;
	width: 100%;
	background-color: var(--primary-color);
	height: 50vh;
	overflow-y: auto;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 5px;
	transition: bottom 400ms;
	overscroll-behavior: contain;
}

.Drawer[data-animation="1"] {
	bottom: 0;
}

@media screen and (min-width: 550px) {
	.Drawer {
		top: 0;
		right: -600px;
		width: 400px;
		min-height: 100vh;
		border-top: none;
		border-left: 1px solid black;
		transition: right 400ms;
	}

	.Drawer[data-animation="1"] {
		right: 0;
	}
}
