.CartDrawer {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    height: 50vh;
    overflow-y: scroll;
    border-top: 1px solid black;
}

@media screen and (min-width: 550px) {
    .CartDrawer {
        top: 0;
        width: 400px;
        height: 100vh;
        border-left: 1px solid black;
    }

    .CartDrawer > div {
        padding: 5px;
    }

    .Content {
        display: flex;
        justify-content: space-between;
        text-align: start;
        margin: 5px;
    }

    .ButtonAlignment {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
