.EmptyMessage {
	margin: auto;
	padding: 25px;
}

.MarginTopAuto {
	margin-top: auto;
}

.Link {
	text-decoration: none;
	color: white;
}

.ButtonAlignment {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Minus {
	position: relative;
}

.Minus::after {
	content: "-";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Plus {
	position: relative;
}

.Plus::after {
	content: "+";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 550px) {
	.Content {
		display: flex;
		justify-content: space-between;
		text-align: start;
		margin: 5px;
	}
}
