.CartDrawer {
	position: fixed;
	z-index: 5;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--primary-color);
	height: 0vh;
	overflow-y: auto;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 5px;
	transition: height 400ms;
	overscroll-behavior: contain;
}

.CartDrawer[data-animation="1"] {
	height: 50vh;
}

.EmptyMessage {
	margin: auto;
	padding: 25px;
}

.MarginTopAuto {
	margin-top: auto;
}

.Link {
	text-decoration: none;
	color: white;
}

.ButtonAlignment {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Minus {
	position: relative;
}

.Minus::after {
	content: "-";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Plus {
	position: relative;
}

.Plus::after {
	content: "+";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 550px) {
	.CartDrawer {
		top: 0;
		right: -600px;
		width: 400px;
		min-height: 100vh;
		border-top: none;
		border-left: 1px solid black;
		transition: right 400ms;
	}

	.CartDrawer[data-animation="1"] {
		right: 0;
	}

	.Content {
		display: flex;
		justify-content: space-between;
		text-align: start;
		margin: 5px;
	}
}
