.Account {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin: 15px;
	font-size: 0.9em;
}

.ButtonAlignment {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ErrorMessage,
.SuccessMessage {
	margin: 0.5em 0;
	padding: 1em;
	border-radius: 15px;
}

.ErrorMessage {
	background-color: var(--alert-color);
	color: white;
}

.SuccessMessage {
	background-color: var(--success-color);
}

.Form {
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 0em 0em 0.25em grey;
	padding: 0 25px;
	width: 80%;
	max-width: 450px;
}

@media screen and (min-width: 500px) {
	.Account {
		font-size: 1em;
	}
}
