@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
	--primary-color: hsl(209, 90%, 66%);
	--secondary-color: hsl(200, 100%, 83%);
	--strong-color: hsl(209, 100%, 54%);
	--success-color: rgb(156, 255, 136);
	--alert-color: hsl(0, 100%, 60%);
	--background-color: rgb(209, 236, 255);
	text-align: center;
	font-family: "Montserrat", sans-serif;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
