@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
    --primary-color: #92caff;
    --background-color: rgb(209, 236, 255);
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
