.Header {
    background-color: var(--primary-color);
    padding: 3px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Logo {
    font-weight: bold;
}

.HeaderItems {
    padding: 2px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.HeaderItems > * {
    margin: 10px;
    padding: 5px;
    /* border-radius: 10px; */
    cursor: pointer;
}

.Cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CartNotification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 10px;
    width: 5px;
    height: 5px;
    background-color: rgb(153, 0, 255);
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    font-size: 12px;
}
